* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    
  }
  body {
    background-color: #1e1e1e; 
  }

  
  li, a {
    margin-top: 20px;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color:  rgb(199, 199, 199);
    font-size: 1.6rem;
  
  }
  
  a:hover {
    color: #2f8b7f;
    cursor: pointer;
  }
  
  header {
    background-color:#5F00A9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0 2em;
    height: 13vh;
    z-index: 999;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar a {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  
  .logo {
    height: 20vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999  ;
  }
  
  #esquerdac {
    position: relative;
    left: 30px;
  }
  .links {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    top: 50%;
   
    transform: translate(0, -25%);
  }
  
  .navbar .toggle_btn {
    color:#ffffffdc;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  .navbar .toggle_btn::after {
    color:#ffffffdc;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  .action_btn {
    background-color:  #2f8b7f;
    color:#dbdbdb;
    padding: 0.75rem 1rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
   
  }
  .menu-btn__burger {
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  .action_btn:hover {
    scale:1.05;
    color:#fff;
  }
  
  .action_btn:active {
    scale: 0.95;
  }
  
  .dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 50px;
    width: 100%;
    background: #5F00A9;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s (0.175, 0.885, 0.32, 1.275);
    z-index: 998;
  }
  
  .dropdown_menu.open {
    height: fit-content;
  }
  
  .dropdown_menu li {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  h1{
    color: #e6e6e6;
  }

  footer {
    background-color: #5F00A9;
    background-position: bottom;
    text-align: center;
    position: relative;
  }
  footer h1 {
    font-size: 2.5rem;
  }
  footer p {
    font-size: 1.6rem;
    margin-left: 30%;
    margin-right: 30%;
  }
  footer img {
    width: 7%;
  }
  .branco {
    color: #f3f3f3;
    margin-left: 40%;
    margin-right: 40%;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    
  }
  
  .container {
    position: relative;
    z-index: 100;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 2px dashed rgba(255, 255, 255, 0.25);
    border-right: 2px dashed rgba(255, 255, 255, 0.1);
    border-bottom: 2px dashed rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    overflow: hidden;
  }
  
  .container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skew(-15deg);
  }
  
  .container h2 {
    width: 100%;
    text-align: center;
    color: #2f8b7f;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
  }
  
  .container .row100 .col .inputBox {
    position: relative; 
    width: 100%;
    height: 40px;
    color: #2f8b7f;
  }
  
  .container .row100 .col .inputBox input,
  .container .row100 .col .inputBox  textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 10000;
    color: #000;
  }
  
  .container .row100 .col .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
  }
  
  .container .row100 .col .inputBox input:focus + .text,
  .container .row100 .col .inputBox input:valid + .text,
  .container .row100 .col .inputBox textarea:focus + .text,
  .container .row100 .col .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
  }
  
  .container .row100 .col .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
  }
  
  .container .row100 .col .inputBox input:focus ~ .line,
  .container .row100 .col .inputBox input:valid ~ .line {
    height: 100%;
  }
  
  .container .row100 .col .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
  }
  
  .container .row100 .col .inputBox textarea:focus ~ .line,
  .container .row100 .col .inputBox textarea:valid ~ .line {
    height: 100%;
  }
  
  .container .row100 .col input[type="submit"] {
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
    box-shadow: 2px black;
  }
  .container .row100 .col a {
    display: flex;
    justify-content: center;
  }
  .wrapper{
    width: 450px;
    background: none;
    border: solid black 2px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    margin: 0% 25%;
    position: relative;
    top: 20px;
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #f3f3f3;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #f3f3f3;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #626262be;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #2f8b7f;
  }
  .days li:not(.active):hover::before{
    background: #5F00A9;
  }
  .current-date {
    color: #f3f3f3;
  }


  @media only screen and (max-width:992px) {
    .navbar .links, .navbar .action_btn {
      display: none;
    }
    .navbar .toggle_btn {
      display: block;
    }
    .dropdown_menu {
      display: block;
    }
  }
  
  @media only screen and (max-width:576px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;    
    }
    .navbar {
      width: 100%;
      height: auto;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    header {
      height: 65px;
    }
    .logo {
      width: 27vw;
      height: 27vw;
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translate(-50%, -50%);
    }
    footer img {
      width: 20%;
    }
    .branco {
      color: #f3f3f3;
      margin-left: 20%;
      margin-right: 20%;
    }
    .wrapper {
      width: 240px;
      margin: 0% 03%;
      border: #000 solid 1px;
    }
    .days li::before{

      height: 20px;
      width: 20px;
    
    }
    header .current-date{
      font-size: 1rem;
   
    }
    header .icons span{

      font-size: 1.6rem;
   
    }
    .calendar .weeks li{
 
      font-size: 0.7rem;
    }

  }