* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  
}

li, a {
  margin-top: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:  rgb(199, 199, 199);
  font-size: 1.6rem;

}

a:hover {
  color: #2f8b7f;
  cursor: pointer;
}

header {
  background-color:#5F00A9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 0 2em;
  height: 13vh;
  z-index: 999;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar a {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.logo {
  height: 20vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999  ;
}

#esquerdac {
  position: relative;
  left: 30px;
}
.links {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  top: 50%;
 
  transform: translate(0, -25%);
}

.navbar .toggle_btn {
  color:#ffffffdc;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.navbar .toggle_btn::after {
  color:#ffffffdc;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color:  #2f8b7f;
  color:#dbdbdb;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
 
}
.menu-btn__burger {
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.action_btn:hover {
  scale:1.05;
  color:#fff;
}

.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  top: 50px;
  width: 100%;
  background: #5F00A9;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.7s (0.175, 0.885, 0.32, 1.275);
  z-index: 998;
}

.dropdown_menu.open {
  height: fit-content;
}

.dropdown_menu li {
  align-items: center;
  display: flex;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%; /* Change this value to 400% to accommodate four slides */
  height: 100%;
  transition: 2s ease;
}

.slide {
  width: 25%; /* Change this to 25% for four equal-width slides */
  height: 100%;
  float: left;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.slide-data {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
  padding: 0 20%;
}

.slide-data h1 {
  font-family: "Anton", serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 45px;
}

.slide-data p {
  font-family: "Lato", serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.slide-data button {
  padding: 10px 25px;
  color: #ffffffb7;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  outline: none;
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}

.slide-data button:hover {
  color: #ffffff;
  background-color: #5b68609c;
}

.slide-1 {
  background-image: url(/img/restaurante.png);
}

.slide-2 {
  background-image: url(/img/bg.jpg);
}

.slide-3 {
  background-image: url(/img/personagens.jpg);
}

.slide-4 {
  background-image: url(/img/gostou.jpg);
}

.slider .arrows {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #dbdbdb;
  font-size: 60px;
  transition: 0.4s linear;
}

.slider .arrows:hover {
  color: #862dc9;
  text-shadow: 0px 0px 10px #000533, 0px 0px 10px #fff;
}

.slider .arrows label {
  display: none;
}

.slider .arrow-left {
  left: 3%;
}

.slider .arrow-right {
  right: 3%;
}

.slider input:nth-child(1):checked ~ .slides {
  left: 0;
}

.slider input:nth-child(2):checked ~ .slides {
  left: -100%;
}

.slider input:nth-child(3):checked ~ .slides {
  left: -200%;
}

.slider input:nth-child(4):checked ~ .slides {
  left: -300%;
}

.slider input:nth-child(1):checked ~ .arrows label:nth-child(1),
.slider input:nth-child(2):checked ~ .arrows label:nth-child(2),
.slider input:nth-child(3):checked ~ .arrows label:nth-child(3),
.slider input:nth-child(4):checked ~ .arrows label:nth-child(4) {
  display: block;
} 

h1 {
  color: #e6e6e6;
}

.coelho-container {
  background-color: #1e1e1e;
  height: 750px;
  text-align: center;
}

.buracobaixo {
  background-image: url(/img/buracobaixo.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.coelho {
  width: 200px;
  position: relative;
  left: 160px;
  z-index: 1;
  transform: translateY(0px);
  animation: float 3s ease-in-out infinite;
}


@keyframes float {
  0% {
     transform: translateY(-80px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(-80px);
  }
}

.buracocima {
  position: relative;
  right: 98px;
  top: 100px;
  z-index: 2;
}
.tooca {
  z-index: 3;
  position: relative;
  color: #2190b8;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 2rem;
}

.venha {
  width: 500px;
}
footer {
  background-color: #5F00A9;
  background-position: bottom;
  text-align: center;
 
}
footer h1 {
  font-size: 2.5rem;
}
footer p {
  font-size: 1.6rem;
  margin-left: 30%;
  margin-right: 30%;
}
footer img {
  width: 7%;
}
.branco {
  color: #f3f3f3;
  margin-left: 40%;
  margin-right: 40%;
}
.cont, .cont1 {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}
.cont p {
  transform: translateY(20%);
  margin-left: 20%;
  font-size: 1.4rem;
}
.cont p::first-letter {
  font-size: 2.4rem;
  color: #5F00A9;
}
.cont img {
  width: 20vw;
}


.cont1 p {
  position: relative;
  top: 50%;
  right: 40%;
  transform: translateY(30%);
  margin-right: 20%;
  font-size: 1.4rem;
}
.cont1 p::first-letter {
  font-size: 2rem;
  color: #2f8b7f;
}
.cont1 img {
  position: relative;
  left: 53%;
  width: 25vw;
  border-radius: 70% 30% 65% 35% / 36% 56% 44% 64% ;
}

.ces {
  width: 70vw;
  transform: translateX(20%);
}
.containerces {
  height: fit-content;
  background-color: #1e1e1e;
  color: #f3f3f3;
}
.cont2 {
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
}
.cont2 p {
  position: relative;
  margin-left: 20%;
  top: 50%;
  transform: translateY(20%);
  font-size: 1.4rem;
}
.cont2 p::first-letter {
  font-size: 2rem;
  color: #5F00A9;
}
.cont2 img {
  position: relative;
  width: 25vw;
  border-radius: 33% 67% 36% 64% / 49% 50% 50% 51%;
}

.cont, .cont1, .cont2 {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.7s ease;
}

.cont.fade-in, .cont1.fade-in, .cont2.fade-in {
  opacity: 1;
  transform: scale(1);
}




/*parte para celular */
@media only screen and (max-width:992px) {
  .navbar .links, .navbar .action_btn {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

@media only screen and (max-width:576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;    
  }
  .navbar {
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header {
    height: 65px;
  }
  .centro {
    display: flex;
    justify-content: center;
  }
  .coelho {
    width: 200px;
    position: relative;
    left: 7px;
    z-index: 1;
    transform: translateY(0px);
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(200px);
    }
    50% {
      transform: translateY(380px);
    }
    100% {
      transform: translateY(200px);
    }
  }
  .buracocima {
    position: relative;
    width: 325px;
    left: 5px;
    top: 4px;
    z-index: 3;
  }
  .coelho-container {
    height: 800px;
  }
  .logo {
    width: 27vw;
    height: 27vw;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  .venha {
    width: 70vw;
  }
  footer img {
    width: 20%;
  }
  .branco {
    color: #f3f3f3;
    margin-left: 20%;
    margin-right: 20%;
  }
  .tooca {
    z-index: 3;
    position: relative;
    bottom: 90px;
    color: #2190b8;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
  }
  .cont {
    display: grid;
    margin-left: 05%;
    margin-right: 05%;
  }
  .cont p {
    transform: translateY(10%);
    margin-left: 0%;
    font-size: 1.4rem;
    margin-right: 20px;
    margin-left: 20px;
  }

  .cont img {
    width: 40vw;
    transform: translateX(70%);
  }
  .cont1 {
    display: grid;
    margin-left: 05%;
    margin-right: 05%;
  }
  .cont1 p {
    position: relative;
    top: 50%;
    right: 0%;
    transform: translateY(30%);
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.4rem;
  }
  .cont1 img {
    position: relative;
    left: 0%;
    transform: translateX(40%);
    width: 50vw;
    border-radius: 70% 30% 65% 35% / 36% 56% 44% 64% ;
  }
  
  .ces {
    width: 90vw;
    height: 10vh;
    transform: translateX(5%);
  }
  .containerces {
    height: 1800px;
  }
  .cont2 {
    display: grid;
    margin-left: 05%;
    margin-right: 05%;
  }
  .cont2 p {
    position: relative;
    top: 50%;
    right: 0%;
    transform: translateY(30%);
    margin-right: 18px;
    margin-left: 18px;
    font-size: 1.4rem;
  }
  .cont2 img {
    position: relative;
    left: 0%;
    transform: translate(40%, 50%);
    width: 50vw;
    border-radius: 33% 67% 36% 64% / 49% 50% 50% 51% ;
  }
  
  
  }
